<!DOCTYPE html>
<html>
	<head>
		<title>Vuejs2 - Udemy</title>
		<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js" defer></script>
		<script type="text/javascript" src="script.js" defer></script>
		<link rel="stylesheet" type="text/css" href="style.css"> 
	</head>
	<body>
		<div id="app">
			<h1 v-once>{{ title }}</h1>
			<span>{{ label }}: </span>
			<input type="text" @input="changeTitle">
			<p>{{ sayHello() }} - <a :href="link" target="_blank">Google</a></p>
			<hr>
			<p v-html="finishedLink"></p>
			<hr>
			<button @click="counter++">Increase</button>
			<button @click="counter--">Decrease</button>

			<p>Counter: {{ counter }}</p>
			<p>Result: {{ output }}</p>
			<p @mousemove="updateCoordinates">Coordinates — {{ x }} / {{ y }} — <span @mousemove.stop="">DEAD SPOT</span></p>
			<input type="text" @keyup.enter.space="alertMe">
			<hr>
			<input type="text" v-model="name">
			<p>{{ name }}</p>
			<hr>
			<div class="demo" @click="attachRed = !attachRed" :class="divClasses"></div>
			<div class="demo" @click="attachGreen = !attachGreen" :class="{green: attachGreen}"></div>
			<div class="demo" @click="attachBlue = !attachBlue" :class="[color, {red: attachRed}]"></div>
			<hr>
			<input type="text" v-model="color">
		</div>
	</body>
</html>
